<div class="row">
  <div class="col-md-6">
    <h3>Thursday Mar 17</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-singularity/01-introduction/index.html">Introductions</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-singularity/02-what_are_containers/index.html">What is a container?</a></td> </tr>
      <tr> <td>09:25</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-singularity/03-Singularity_Basics/index.html">Singularity Basics</a></td> </tr>
      <tr> <td>09:55</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-singularity/04-Scientific_Containers/index.html">Scientific Containers</a></td> </tr>
      <tr> <td>10:10</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-singularity/05-Break/index.html">Break</a></td> </tr>
      <tr> <td>10:20</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-singularity/06-Building_and_Modifying_Containers/index.html">Building and Modifying Containers</a></td> </tr>
      <tr> <td>10:55</td>  <td><a href="https://thejacksonlaboratory.github.io/intro-to-singularity/07-Using_Containers/index.html">Using Containers & Questions</a></td> </tr>
      <tr> <td>11:40</td>  <td><a href="https://form.jotform.com/220416954725155">Post-workshop survey</a>END</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

